:root {
    --max-width: 1380px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background);
    color: var(--color-main);
    font-family: var(--font-text);
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--font-header-main);
    font-size: 6.25rem;
    color: var(--color-title);
    text-align: left;
    font-weight: 400;
}

h2 {
    font-family: var(--font-header-main);
    font-size: 3.75rem;
    color: var(--color-main);
    font-weight: 400;
}

h3 {
    font-family: var(--font-header-main);
    font-size: 1.125rem;
    color: var(--color-main);
}